
/*** Modifications pour Com'In ***/

/* Labels */
.google-visualization-controls-label {
   color: #F6C970;
    font-family: "Maven Pro", "Open sans", sans-serif;
    font-weight: 300;
}

/* Dropdown */
.awt-vis-controls-csvFilter .awt-csvFilter-downArrow > svg {
    fill: #F6C970;
}

/* Cases des filtres */
.awt-vis-controls-csvFilter .awt-csvFilter-button {
    border: 1px solid #F6C970;
    background-color: #F6C97044;
    color: #fff;
    display: flex;
    padding: 3px 8px;
    vertical-align: middle;
}
.awt-vis-controls-SearchFilter .awt-searchFilter-input {
    border: 1px solid #F6C970 !important;
    background-color: transparent;
    color: white;
}

/* Pagination et sa decoration */
.count {
color: white;
    border-top: 1px solid #F6C970;
    border-bottom: 1px solid #F6C970;
    fill: white;
}

/* fonts */
.google-visualization-table-table {
    font-family: "Maven Pro", arial , helvetica;
}

/*  Table */
.google-visualization-table-tr-odd {
    background-color: #F6C97055!important;
}
.google-visualization-table-tr-even {
    background-color: transparent;
}
/* links */
.awt-links {
    text-decoration: none;
    color: white;
}
/* header font size */
.google-visualization-table-table .gradient {
    font-size: 19px;
}
/* height row */
table.google-visualization-table-table tr {
       height: 60px;
}
/* hover */
.google-visualization-table-tr-sel td,
.google-visualization-table-tr-over td {
    background-color: #aaaaaa55;
}
